@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

.primary {
  background-color: #243b4a;
}

.secondary {
  background-color: #2d4654;
}

.radius {
  border-radius: 10px;
}

.navbar {
  background-color: #4b5563;
}

.navbar-link {
  background-color: #d1d5db;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.active-link {
  @apply bg-gray-400 text-black;
}

.li {
  @apply w-full h-full text-center hover:bg-gray-400 hover:text-black py-2;
}

.card {
  @apply w-40 p-6 bg-gray-300 bg-opacity-50 rounded-lg mb-2 filter drop-shadow-xl;
}

.card-text {
  @apply rounded-lg text-center py-1 font-bold text-white bg-opacity-50;
}

.text-color {
  color: #87bcde;
}

article p {
  margin-bottom: 12px;
}

p a {
  color: #87bcde;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 0 3px;
}

p strong {
  font-size: larger;
  font-weight: bold;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
