@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

.primary {
  background-color: #243b4a;
}

.secondary {
  background-color: #2d4654;
}

.radius {
  border-radius: 10px;
}

.navbar {
  background-color: #4b5563;
}

.navbar-link {
  background-color: #d1d5db;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.active-link {
  @apply bg-gray-400 text-black;
}

.li {
  @apply w-full h-full text-center hover:bg-gray-400 hover:text-black py-2;
}

.card {
  @apply w-40 p-6 bg-gray-300 bg-opacity-50 rounded-lg mb-2 filter drop-shadow-xl;
}

.card-text {
  @apply rounded-lg text-center py-1 font-bold text-white bg-opacity-50;
}

.text-color {
  color: #87bcde;
}
